{{! create news page }}
<div class="alert alert-light" style="margin-bottom: 0px">
    <h1 class="text-center">{{ title }}</h1>
</div>

{{#each data}}
<form action="/update" method="post">
    <div class="row" style="margin: 0;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <input type="hidden" name="id" value="{{ id }}">
            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control" name="penulis" value="{{ penulis }}" disabled>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" value="{{ title }}">
            </div>
            <div class="form-group">
                <label>Text</label>
                <textarea class="form-control" name="text">{{ text }}</textarea>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            <a href="/" class="btn btn-secondary">Kembali</a>
        </div>
        <div class="col-lg-2"></div>
    </div>
</form>
{{/each}}
<br>